<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>

    <!-- 
        importing CSS here from public/css/style.css
        but only importing css will not show the change on page
        we will have to set static in index.js (entry point)
    -->

    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
    </nav>
    <h2>This is about page</h2>
</body>
</html>